<h1>New User</h1>

<%= form_for :user, url: users_path do |f| %>

  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  
  <p>
      <%= f.label :password %><br>
      <%= f.text_area :password %>
  </p>
  
  <p>
      <%= f.label :repeat_password %><br>
      <%= f.text_area :repeat_password %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Cancel', users_path %>