<h2>
    <%= @contact.name %>
</h2>

<p>
    <strong>Number: </strong>
    <%= @contact.number %>
</p>

<p>
    <strong>Address: </strong>
    <%= @contact.address %>
</p>

<p>
    <strong>email: </strong>
    <%= @contact.email %>
</p>

<%= link_to 'Back', contacts_path %>