<h2>
    <%= @contact.name %>
</h2>

<p2>
    <strong>Number: </strong>
    <%= @contact.number %>
</p2><br>

<p2>
    <strong>Address: </strong>
    <%= @contact.address %>
</p2><br>

<p2>
    <strong>email: </strong>
    <%= @contact.email %>
</p2><br>
<%= link_to 'Edit', edit_contact_path %>
<%= link_to 'Back', contacts_path %>