<h2>
    <%= @contact.name %>
</h2>

<p>
    <strong>Number: </strong>
    <%= @contact.number %>
<br>


    <strong>Address: </strong>
    <%= @contact.address %>
<br>

    <strong>email: </strong>
    <%= @contact.email %>
</p><br>

<p>
<%= link_to 'Edit', edit_contact_path %><br>
<%= link_to 'Back', contacts_path %>
</p>