<h2>
    <%= @contact.name %>
</h2>

<p>
    <table align="center">
        <tr>
            <th>Number: </th>
            <td><%= @contact.number %></td>
        </tr>
        <tr>
            <th>Address: </th>
            <td><%= @contact.address %></td>
        </tr>
        <tr>
            <th>Email: </th>
            <td><%= @contact.email %></td>
        </tr>
    </table>

<p>
<%= link_to 'Edit', edit_contact_path %><br>
<%= link_to 'Back', contacts_path %>
</p>